
<div id="divHeader" class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div class="icon" id="icon"></div>
        <div id="divPodcastTitle" class="title">Podcast</div>
    </div>
</div>

<div style="height:10px;"></div>

<div style="width:100%; margin:auto; align-content: center; text-align: center;">
    <img src="icon-minimal.png" id="divPodcastImage" style="width:128px;height:128px" /><br/>
</div>

<div class="palm-group">
    <div class="palm-group-title">
        <span x-mojo-loc=''>Details</span>
    </div>

    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper detail">
                <span class="label detail" x-mojo-loc=''>Description:</span>
                <div class="value detail" id="divPodcastDescription"></div>
            </div>
        </div>

        <div class="palm-row">
            <div class="palm-row-wrapper detail">
                <span class="label detail" x-mojo-loc=''>Author:</span>
                <div class="value detail" id="divPodcastAuthor"></div>
            </div>
        </div>

        <div class="palm-row last">
            <div class="palm-row-wrapper detail">
                <span class="label detail" x-mojo-loc=''>Website:</span>
                <div class="value detail" id="divPodcastLink"></div>
            </div>
        </div>

    </div>
</div>

<div class="explanation-text">By default DrPodder redux will use Tiny Feeds from the webOS Archive Podcast Directory. A Tiny Feed is one that is pre-processed to help out retro devices that can't handle modern encryption or large payloads. You can change this in the search scene. </div>
