<div id="episodeViewScene">
    <div id="topContent" class="topContent">
        <div id="header" class="palm-page-header multi-line">
            <div class="palm-page-header-wrapper">
                <div class="icon" id="icon"></div>
                <div id="episodeDetailsTitle" class="title un-capitalize left"> </div>
            </div>
        </div>

        <div id="progress-info" class="stream-info">
            <div id="sleepTimer" class="sleepTimerStatusMessage" style="display:none;"></div>
            <div id="playback-progress" class="elapsed">00:00</div>
            <div id="progress" x-mojo-element="ProgressSlider" class="stream-buffer-bar "></div>
            <div id="playback-remaining" class="duration">00:00</div>
            <div id="statusDiv" class="playbackStatusMessage" style="display:none;"></div>
        </div>

    </div>

    <div id="topSpacer"></div>
    <div id="descriptionFade"></div>

    <div x-mojo-element="Scroller" id="scrollerDetail" class="scrollerClass" name="scrollerDetail" style="height:100px">

        <div style="width:100%; margin:auto; align-content: center; text-align: center;">
            <img id="episodeAlbumArt" src="">
        </div>
        <div id="episodeDetailsDescription" class="palm-body-text"></div>

        <div id="episodeDetailsExtended" class="palm-body-text"></div>

        <div id="bottomSpacer" style="height:36px;"></div>
    </div>

</div>
